:root {
  --editor-background: #1e1e1e;
  --editor-foreground: #d4d4d4;
  --editor-line-number-foreground: #237893;
  --keyword: #c678dd;
  --numbers: #ff7c00;
  --variables-properties: #ec0113;
  --function-methods: #00ff64;
  --classes-constants: #ffa600;
  --string: #0800ff;
  --operators-special: #14ff91;
  --comments: #0055ff;
  --foreground: #0034ff;
  --tab-active-background: #1e1e1e;
  --tab-inactive-background: #2d2d2d;
  --tab-border: #444444;
  --tab-active-foreground: #ffffff;
  --tabs-container-background: #333333;
  --tab-inactive-foreground: #aaaaaa;
  --tab-hover-background: #3d3d3d;
  --tab-hover-foreground: #ffffff;
  --sidebar-background: #f3f3f3;
  --sidebar-foreground: #616161;
  --sidebar-section-border:#00000000;
  --side-bar-section-header-foreground: #6f6f6f;
  --list-hover-background: #e8e8e8;
  --list-hover-foreground: #616161;
  --list-active-selection-background: #0060c0;
  --list-active-selection-foreground: #ffffff;
  --side-bar-section-header-border: #61616130;
  --status-bar-background: #007acc;
  --status-bar-foreground: #ffffff;
  --status-bar-background-hover:none;
  --status-bar-remote-background:#925151;
  --top-bar-background: #2c2c2c;
  --top-bar-text: #ffffff;
  --title-bar-active-background: #dddddd;
  --title-bar-active-foreground: #333333;
  --title-bar-inactive-background: #dddddd99;
  --title-bar-inactive-foreground: #33333399;
  --title-bar-border: #00000000;
  --activity-bar-background: #2c2c2c;
  --activity-bar-foreground: #ffffff;
  --activity-bar-inactive-foreground: #ffffff66;
  --activity-bar-badge-foreground: #ffffff;
  --activity-bar-badge-background: #007acc;
  --menubar-selection-foreground: #333333;
  --menubar-selection-background: #0000001a;
  --menu-foreground: #616161;
  --menu-background: #ffffff;
  --menu-selection-foreground: #ffffff;
  --menu-selection-background: #0060c0;
  --menu-selection-border: #00000000;
  --menu-separator-background: #888888;
  --menu-border: #00000085;
  --button-background: #007acc;
  --button-foreground: #ffffff;
  --button-hover-background: #0062a3;
  --button-secondary-foreground: #ffffff;
  --button-secondary-background: #5f6a79;
  --button-secondary-hover-background: #4c5561;
  --input-background: #ffffff;
  --input-border: #00000000;
  --input-foreground: #616161;
  --input-option-active-background: #0090f133;
  --input-option-active-border: #007acc00;
  --input-option-active-foreground: #000000;
  --input-placeholder-foreground: #767676;
  --text-link-foreground: #006ab1;


 
}
